body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    position: fixed;
    padding: 10px;
    text-align: center;
    left: 0px;
    width: 250px;
    height: 100%;
    background: yellowgreen;
    transition: all 0.5s ease;
}

header {
    background-color: pink;
    height: 10%;
    padding: 10px;
    text-align: center;
    order: 1;
}

main {
    display: flex;
    flex: 1;
    order: 1;
}

aside {
    background-color: bisque;
    padding: 10px;
    text-align: center;
    flex: 3;
}

article {
    background-color: grey;
    padding: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: blueviolet;
    height: 10%;
    padding: 10px;
    text-align: center;
    order: 1;
}